.ui-li-divider {
    padding-left: 28px;
}
.divIconPos{
    position: absolute;
    display: inline;
    left: 3px;
}

h1 {
    margin-left: 10px;
    padding-left: 5px;
}

.wrap {
    margin-top: 50px;
}