.ui-li-divider {
    padding-left: 28px;
}
.divIconPos{
    position: absolute;
    display: inline;
    left: 3px;
}

h1 {
    margin-left: 10px;
    padding-left: 5px;
}

.wrap {
    margin-top: 50px;
}

.filter {
    height: 50px;
    width: 65px;
    background-color: darkorange;
    float: left;
}

.cig {
    height: 50px;
    width: 200px;
    background-color: white;
    float: left;
}

.glow {
    height: 50px;
    width: 15px;
    background-color: grey;
    float: left;
}

.cross1 {
    height: 15px;
    width: 400px;
    background-color: red;
    position: absolute;
    top: -300px;
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Safari */
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
}

.cross2 {
    height: 15px;
    width: 400px;
    background-color: red;
    position: absolute;
    top: -300px;
    -ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari */
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.no {
    position: absolute;
    animation: slide-no 4s ease-out .5s forwards;
}

@keyframes slide-no {
    100% { transform: translateY(19em);
        -ms-transform: translateY(19em); /* IE 9 */
        -webkit-transform: translateY(19em)); /* Safari */
        -moz-transform: translateY(19em));
        -o-transform: translateY(19em);
    }
}

.multimedia {
    clear: both;
    position: relative;
    padding-top: 100px;
}

.my_badges {
    margin-top: 100px;
}